In [1]:
#Importing libraries

import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\marig\OneDrive\√Årea de Trabalho\curso arbeitsamt\data immersion\achievement 4\07.2023.Instacart Basket Analysis\Data\Prepared data'

In [3]:
#Loading consumer dataframe
customer_df = pd.read_pickle (os.path.join (path, 'consumer_checked.pkl'))

In [7]:
#Loading orders_products_last_version
ords_prods_merge = pd.read_pickle (os.path.join (path, 'orders_products_last_version.pkl'))

ords_prods_merge.shape

In [8]:
print (ords_prods_merge.dtypes)

product_id                        int64
product_name                     object
department_id                     int64
prices                          float64
order_id                          int64
user_id                           int64
order_number                      int64
orders_day_of_week                int64
order_hour_of_day                 int64
days_since_prior_order          float64
price_range_loc                  object
busiest days                     object
busiest_period_of_day            object
max_order                         int64
loyalty_flag                     object
prices_mean_user                float64
price_flag                       object
user_median_days_since_order    float64
mediandays_flag                  object
dtype: object

In [4]:
customer_df.shape

(206209, 9)

In [5]:
customer_df.head()

,user_id,First Name,Last name,State,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Maryland,26,1/1/2017,1,married,40374

In [9]:
# Joining the dataframes
df_merged_large = customer_df.merge(ords_prods_merge, on = 'user_id')

In [10]:
df_merged_large.shape

(30328763, 27)

In [11]:
print (df_merged_large.dtypes)

user_id                           int64
First Name                       object
Last name                        object
State                            object
Age                               int64
date_joined                      object
n_dependants                      int64
fam_status                       object
income                            int64
product_id                        int64
product_name                     object
department_id                     int64
prices                          float64
order_id                          int64
order_number                      int64
orders_day_of_week                int64
order_hour_of_day                 int64
days_since_prior_order          float64
price_range_loc                  object
busiest days                     object
busiest_period_of_day            object
max_order                         int64
loyalty_flag                     object
prices_mean_user                float64
price_flag                       object
user_median_days_since_order    float64
mediandays_flag                  object
dtype: object

In [12]:
#exporting
df_merged_large.to_pickle(os.path.join(path, 'Prepared data' 'orders_products_customer.pkl'))