In [2]:
# Import Libraries

import pandas as pd
import numpy as np
import os

In [3]:
path = r'C:\Users\marig\OneDrive\√Årea de Trabalho\curso arbeitsamt\data immersion\achievement 4\07.2023.Instacart Basket Analysis\Data'

In [4]:
# Loading the orders_products_combined
df_orders_products_combined = pd.read_pickle (os.path.join (path, 'Prepared data', 'orders_products_combined.pkl'))

In [5]:
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2398795,1,2,3,7,15.0,196,1,1,both
1,2398795,1,2,3,7,15.0,10258,2,0,both
2,2398795,1,2,3,7,15.0,12427,3,1,both
3,2398795,1,2,3,7,15.0,13176,4,0,both
4,2398795,1,2,3,7,15.0,26088,5,1,both

In [6]:
# Checking the shape
df_orders_products_combined.shape

(30356421, 10)

In [7]:
# Loading the products_checked

df_prods = pd.read_csv (os.path.join (path, 'Prepared data', 'products_checked.csv'), index_col = False)

In [8]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
# Checking the shape
df_prods.shape

(49672, 5)

# Merging Products and df_orders_products_combined

In [10]:
# I'm going to merge using the column product_id that exists in both dataframes.

df_merged_large = df_prods.merge(df_orders_products_combined, on = 'product_id')

In [11]:
df_merged_large.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,7,0,both

In [13]:
df_merged_large ['_merge'].value_counts()

both          30328763
left_only            0
right_only           0
Name: _merge, dtype: int64

In [14]:
df_merged_large.shape

(30328763, 14)

In [15]:
df_merged_large.to_pickle(os.path.join(path, 'orders_products_merged.pkl'))