In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os

In [10]:
#Importing Data from Order_products_prior

path = r'C:\Users\marig\OneDrive\Área de Trabalho\curso arbeitsamt\data immersion\achievement 4\07.2023.Instacart Basket Analysis\Data\Original data'

In [11]:
path

'C:\\Users\\marig\\OneDrive\\Área de Trabalho\\curso arbeitsamt\\data immersion\\achievement 4\\07.2023.Instacart Basket Analysis\\Data\\Original data'

In [12]:
df_ords_prior = pd.read_csv (os.path.join (path,'4.5_order_products_prior', 'order_products__prior.csv'), index_col = False)

In [13]:
df_ords_prior

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [18]:
# Import df ords dataframe
path_2 = r'C:\Users\marig\OneDrive\Área de Trabalho\curso arbeitsamt\data immersion\achievement 4\07.2023.Instacart Basket Analysis\Data\Prepared data'

In [20]:
df_ords = pd.read_csv (os.path.join (path_2, 'orders_checked.csv'), index_col = False)

In [21]:
# Checking the output + shape
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [23]:
df_ords_prior.shape

(32434489, 4)

In [22]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2398795,1,2,3,7,15.0
1,473747,1,3,3,12,21.0
2,2254736,1,4,4,7,29.0
3,431534,1,5,4,15,28.0
4,3367565,1,6,2,7,19.0

In [24]:
df_ords.shape

(3214874, 6)

In [25]:
# Both dataframes have the order_id column. Probably it is a full match. Because of the the inner join will be perfect.
# Complete merging:

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [29]:
# Checking final result
df_merged_large.head ()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2398795,1,2,3,7,15.0,196,1,1,both
1,2398795,1,2,3,7,15.0,10258,2,0,both
2,2398795,1,2,3,7,15.0,12427,3,1,both
3,2398795,1,2,3,7,15.0,13176,4,0,both
4,2398795,1,2,3,7,15.0,26088,5,1,both

In [30]:
# Checking merged column values:
df_merged_large ['_merge'].value_counts ()

both          30356421
left_only            0
right_only           0
Name: _merge, dtype: int64

In [31]:
# Everything matches? 
how = 'outer'

In [33]:
df_merged_large ['_merge'].value_counts (), how == 'outer'

(both          30356421
 left_only            0
 right_only           0
 Name: _merge, dtype: int64,
 True)

In [34]:
# Matching confirmed.

In [35]:
## Exercise 2

# Exporting as a Pkl
df_merged_large.to_pickle(os.path.join(path_2, 'orders_products_combined.pkl'))