In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path = r'C:\Users\marig\OneDrive\Área de Trabalho\curso arbeitsamt\data immersion\achievement 4\07.2023.Instacart Basket Analysis\Data'

In [3]:
# Loading orders products customer dataframe
ords_prods_cust = pd.read_pickle (os.path.join (path, 'Prepared data', 'orders_products_customer.pkl'))

In [4]:
ords_prods_cust.columns

Index(['user_id', 'First Name', 'Last name', 'State', 'Age', 'date_joined',
       'n_dependants', 'fam_status', 'income', 'product_id', 'product_name',
       'department_id', 'prices', 'order_id', 'order_number',
       'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order',
       'price_range_loc', 'busiest days', 'busiest_period_of_day', 'max_order',
       'loyalty_flag', 'prices_mean_user', 'price_flag',
       'user_median_days_since_order', 'mediandays_flag'],
      dtype='object')

In [5]:
# The columns First name and Last name are PII. Because of that, I decided to dropp this columns as they can lead to privacy issues.

ords_prods_cust = ords_prods_cust.drop (columns = ['First Name'])

In [6]:
ords_prods_cust = ords_prods_cust.drop (columns = ['Last name'])

In [7]:
ords_prods_cust.shape

(30328763, 25)

In [8]:
# exporting the new dataframe
ords_prods_cust.to_pickle(os.path.join(path, 'Prepared data' 'orders_products_customer_lastversion.pkl'))

In [9]:
ords_prods_cust.head()

,user_id,State,Age,date_joined,n_dependants,fam_status,income,product_id,product_name,department_id,...,days_since_prior_order,price_range_loc,busiest days,busiest_period_of_day,max_order,loyalty_flag,prices_mean_user,price_flag,user_median_days_since_order,mediandays_flag
0,26711,Missouri,48,1/1/2017,3,married,165665,196,Soda,7,...,30.0,Mid range product,Busiest days,Average orders,8,New customer,8.205882,Low Spender,19.0,Frequent customer
1,26711,Missouri,48,1/1/2017,3,married,165665,196,Soda,7,...,11.0,Mid range product,Regularly busy,Most orders,8,New customer,8.205882,Low Spender,19.0,Frequent customer
2,26711,Missouri,48,1/1/2017,3,married,165665,196,Soda,7,...,10.0,Mid range product,Busiest days,Most orders,8,New customer,8.205882,Low Spender,19.0,Frequent customer
3,26711,Missouri,48,1/1/2017,3,married,165665,6184,Clementines,4,...,30.0,Low range product,Slowest days,Most orders,8,New customer,8.205882,Low Spender,19.0,Frequent customer
4,26711,Missouri,48,1/1/2017,3,married,165665,6184,Clementines,4,...,19.0,Low range product,Busiest days,Average orders,8,New customer,8.205882,Low Spender,19.0,Frequent customer